html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
li,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* REAL CODE STARTS */

body {
    background: #f9f9f9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px; line-height: 27px;
    color: #626262;
}

#welcome {
    font-size :14px;    

}

#movietext {
    font-size :12px;    

}


#flash_notice{
    
    background :green;
    border: 1px solid darken(green, 20%);
    text-align :center;
    color: white;

}

#lastweek {
    font-size :10px;
}

#upcoming {
    font-size :10px;
}


#box #inner {
    margin: 0 auto;
    max-width: 960px;
    min-width: 960px;
    position: relative;
}

.login #wrapper {
    margin: 60px auto;
    width: 350px;
}

#box {
    position: relative;
    padding: 35px 40px;
    background: #fff;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .05);
    z-index: 0;
}

.num { text-align: center; margin: 0 auto; display: block; padding-top: 20px; color: #ccc; text-shadow: 0 1px 0 #fff; }


h1 {
    text-transform: uppercase;
    display: block;
    font-size: 36px;
    color: #000;
    font-weight: bold;
}

h2 {
    display: block;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin: 15px 0 0;
    color: #aaa;
}

.login h2 { font-size: 16px; }

.rule {
    margin: 20px 0;
    display: block;
    clear: both;
    height: 1px;
    background: #eee;
}

.login #box {
    text-align: center;
    padding-bottom: 56px;
}

.logout {
    clear: right;
    float: right;
}

.gray-button {
    margin-top: 2px;
    display: inline-block;
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
    color: #fff;
    padding: 12px 14px 10px;
    border-radius: 4px;
    background: #ddd;
    border-bottom: 2px #ddd solid;
}

.make-gray {
    background: #ddd !important;
    border-bottom: 2px #ddd solid !important;
}

.gray-button:hover, .make-gray:hover { background: #ccc !important; border-bottom: 2px #ccc solid !important; }
.gray-button:active, .make-gray:active { border-top: 2px solid #aaa !important; background: #ccc !important; border-bottom: none !important; }

form {
    display: block;
    clear: both;
    overflow: hidden;
}

small { color: #fff; text-transform: lowercase; font-size: 16px; position: absolute; top: -2px; left: 174px; }

h1:hover small {
    color: #ccc;
}

.prefix {
    padding-top: 21px;
    left: 10px;
    display: block;
    width: 200px;
    position: absolute;
    left: -214px;
    text-align: right;
}

form span {
    padding-top: 21px;
    float: left;
    margin-right: 15px;
}

.user input[type=checkbox] { position: absolute; right: -30px; top: 138px; }
.period { margin-left: 10px; margin-right: 0; }

input[type=text] {
    margin-top: 10px;
    display: block;
    float: left;
    height: 22px;
    padding: 15px 14px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #888;
     width: 225px; 
}

.user input[type=text] {
    width: 780px;
}

input[type=text]:focus {
    outline: none;
    border: 1px solid #ccc;
}

.tweet-button {
    float: right;
}

#twitter-button {
    border: none; cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px; line-height: 27px;
    
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
    color: #fff;
    padding: 12px 14px 10px;
    border-radius: 4px;
    background: #4BC9F2;
    border-bottom: 2px solid #2Ba9e2;
}

.move { position: absolute; top: 220px; padding-right: 35px; font-size: 14px; color: #888; }

#twitter-button:hover {
    background: #2Ba9e2;
    border-bottom: 2px solid #0B89c2;
}

#twitter-button:active { margin-top: 10px; border-top: 2px solid #0B89c2; border-bottom: none; }

a { text-decoration: none; }

#stream {
    width: 960px;
    margin: 0 auto;
    color: #bbb;
    text-shadow: 0 1px 2px #fff;
}

#nothing, #not-logged-in { margin-top: 30px; text-align: center; }

strong { font-weight: bold; }

#stream strong {
    color: #888;
}

#stream a { color: #ddd; text-decoration: underline; }

#stream li {
    padding: 15px 0; margin: 10px 0;
    border-top: 1px solid #eee;
}

#stream li img, #suggested img {
    margin-right: 6px;
    background: #fff;
    position: relative; top: 7px;
    border: 2px white solid;
    outline: 1px #eee solid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .05);
}

#stream li img {
    width: 24px; height: 24px;
}

#stream li:first-child { border: none; }

#suggested {
    text-align: center;
    margin-top: 30px; padding: 20px;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .05);
    background: #fff;
}

#suggested h3 { font-weight: bold; }

#suggested img {
    top: 5px;
    margin-top: 10px;
    height: 100px;
}

#reply-form {
    border-radius: 20px;
    margin: 30px auto 0;
    width: 880px;
    background: #fff;
    padding: 30px 40px 35px;
    background: #fff;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .05);
    z-index: 0;
    position: relative;
}

    #reply-form h3 { font-weight: bold; margin-bottom: 15px; }
    #reply-form input[type=text] { width: 300px; margin-right: 15px; }
    #reply-form input[type=checkbox] { position: absolute; right: -50px; top: 99px; }







